@import "vars";

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.my-order{
    width: 300px;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

/*       TITULO      */
.my-order-title{
    font-size: $--lg;
    margin-bottom: 40px;
}

/*   FECHA - ARTICULOS - TOTAL   */
.my-order-content{
    width: 300px;
    display: flex;
    justify-content: space-between;
    background-color: $--text-input-field;
    border-radius: 8px;
    padding: 8px 24px;
    margin-bottom: 20px;
}
.my-order-content p:first-child{
    display: flex;
    flex-direction: column;
}
.date{
    font-size: $--md;
    font-weight: bold;
}
.check{
    font-size: $--md;
    font-weight: bold;
}
.articles{
    color: $--very-light-pink;
    font-size: $--sm;
}