/*    PRODUCTOS    */
@import "vars";

.product{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 24px 0px;
} 
.product div{
    display: flex;
    align-items: center;
}
.product-img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 20px;
}
.product-name{
    font-size: $--md;
    color: $--very-light-pink;
}
.product-price{
    font-size: $--md;
    font-weight: bold;
}